* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
li,
p {
  font-family: serif;
  color: #444;
}
body {
  border-top: 5px solid #46cbf3;
}
h1,
h2,
h3 {
  color: #46cbf3;
}
h1 {
  font-style: italic;
  text-transform: uppercase;
  font-size: 26px;
}

h2 {
  font-size: 40 px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;

  line-height: 1.5;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 10px;
}

/*header p {
  font-style: italic;
}
*/
#author {
  font-style: italic;
}

#copyright {
  font-size: 20px;
  color: rgba(245, 87, 90, 0.3);
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-list {
  list-style: none;
}

.bgcolor {
  background-color: #f7f7f7;
  padding: 20px 40px;
  padding: 40px;
  text-align: center;
  /*border: 5px solid #1098ad;*/
}

.firstlist {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #f506cd;
  text-decoration: none;
}

a:hover {
  color: #6200e2;
  font-weight: bold;
  text-decoration: underline solid #6200e2;
}

a:active {
  color: #000000;
  font-weight: bold;
}
